{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Profile</title>
    <!-- Load Bootstrap CSS -->
    

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Include jQuery UI CSS (for the date picker) -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- Include jQuery UI JavaScript (for the date picker) -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <style>
        .smaller-profile-image {
            max-width: 300px;  /* Adjust the width as needed */
            max-height: 300px; /* Adjust the height as needed */
        }
    </style>
    
</head>
<body style="background-color: #d4d4d4;">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f0f0f0;">
        <a class="navbar-brand" href="#">DreamWed</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'matrimony:home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Search</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'matrimony:myprofile' %}">My Profile</a>
                </li>
            </ul>
            <!-- Profile Picture and Username -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        

                        {{ request.session.suser }} <!-- Display the username from the session -->
                    </a>
                    <div class="dropdown-menu" aria-labelledby="profileDropdown">
                        <a class="dropdown-item" href="{% url 'matrimony:myprofile' %}">My Profile</a>
                        <a class="dropdown-item" href="#">Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    
    <div class="container mt-5">
        <div class="text-right">
            <a href="javascript:history.back()" class="btn btn-secondary mt-3">Back</a>
        </div>
        <!-- Personal Details Card -->
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Personal Details</h3>
                <div class="row">
                    <div class="col-md-6">
                        <p><strong>First Name:</strong> {{ personal_details.first_name }}</p>
                        <p><strong>Middle Name:</strong> {{ personal_details.middle_name }}</p>
                        <p><strong>Last Name:</strong> {{ personal_details.last_name }}</p>
                        <p><strong>Gender:</strong> {{ personal_details.gender }}</p>
                        <p><strong>Email:</strong> {{ user.email }}</p>
                        <p><strong>Phone:</strong> {{ personal_details.phone_number }}</p>
                        <p><strong>Hobbies:</strong>
                            {% if personal_details.hobbies.all %}
                                {% for hobby in personal_details.hobbies.all %}
                                    {{ hobby.name }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            {% else %}
                                Not specified
                            {% endif %}
                        </p>
                        <!-- Add more personal details here -->
                    </div>
                    <div class="profile-image">
                        <img src="{{ personal_details.profile_image.url }}" alt="Profile Picture" class="img-fluid smaller-profile-image">
                    </div>
                </div>
                <!-- In your profile page -->
                <button class="btn btn-primary mt-3" onclick="location.href='{% url 'matrimony:update_personaldetails' %}'">Update Personal Details</button>

            </div>
        </div>
        <!-- Family Details Card -->
        <div class="card mt-3">
            <div class="card-body">
                <h3 class="card-title">Family Details</h3>
                <div class="row">
                    <div class="col-md-6">
                        <p><strong>Father's Name:</strong> {{ family_details.father_name }}</p>
                        <p><strong>Mother's Name:</strong> {{ family_details.mother_name }}</p>
                        <p><strong>Number of Siblings:</strong> {{ family_details.number_of_siblings }}</p>
                        <p><strong>Family Type:</strong> {{ family_details.family_type }}</p>
                        <!-- Add more family details here -->
                    </div>
                    <div class="col-md-6">
                        <!-- Add any other content for the right side of the card -->
                    </div>
                </div>
                <button class="btn btn-primary mt-3" onclick="location.href='{% url 'matrimony:update_familydetails' %}'">Update Educational Details</button>
            </div>
        </div>
        <!-- Educational Details Card -->
        <div class="card mt-3">
            <div class="card-body">
                <h3 class="card-title">Educational Details</h3>
                <div class="row">
                    <div class="col-md-6">
                        <p><strong>Highest Qualification:</strong> {{ educational_details.highest_qualification }}</p>
                        <p><strong>UG Degree:</strong> {{ educational_details.ug_degree }}</p>
                        <p><strong>PG Degree:</strong> {{ educational_details.pg_degree }}</p>
                        <p><strong>Doctorate Field:</strong> {{ educational_details.doctorate_field }}</p>
                        <p><strong>College/Institution:</strong> {{ educational_details.college_institution }}</p>
                        <!-- Add more educational details here -->
                    </div>
                    <div class="col-md-6">
                        <!-- Add any other content for the right side of the card -->
                    </div>
                </div>
                <button class="btn btn-primary mt-3" onclick="location.href='{% url 'matrimony:update_educationaldetails' %}'">Update Educational Details</button>
            </div>
        </div>
        <!-- Employment Details Card -->
        <div class="card mt-3">
            <div class="card-body">
                <h3 class="card-title">Employment Details</h3>
                <div class "row">
                    <div class="col-md-6">
                        <p><strong>Employment Status:</strong> {{ employment_details.employment_status }}</p>
                        <p><strong>Occupation:</strong> {{ employment_details.occupation }}</p>
                        <p><strong>Employer of:</strong> {{ employment_details.employerof }}</p>
                        <p><strong>Annual Income:</strong> {{ employment_details.annual_income }}</p>
                        <!-- Add more employment details here -->
                    </div>
                    <div class="col-md-6">
                        <!-- Add any other content for the right side of the card -->
                    </div>
                </div>
                <button class="btn btn-primary mt-3" onclick="location.href='{% url 'matrimony:update_employmentdetails' %}'">Update Employment Details</button>
            </div>
        </div>
        <!-- Location Details Card -->
        <div class="card mt-3">
            <div class="card-body">
                <h3 class="card-title">Location Details</h3>
                <div class="row">
                    <div class="col-md-6">
                        <p><strong>Current City:</strong> {{ location_details.current_city }}</p>
                        <p><strong>Current State:</strong> {{ location_details.current_state }}</p>
                        <p><strong>Current Pin Code:</strong> {{ location_details.current_pin_code }}</p>
                        <p><strong>Willing to Move:</strong> {{ location_details.willing_to_move }}</p>
                        <!-- Add more location details here -->
                    </div>
                    <div class="col-md-6">
                        <!-- Add any other content for the right side of the card -->
                    </div>
                </div>
                <button class="btn btn-primary mt-3" onclick="location.href='{% url 'matrimony:update_locationdetails' %}'">Update Employment Details</button>
                
        </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>
