{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Package</title>
    
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="{% static 'css/styleadmin.css' %}">
    
    

    
<style>
    /* CSS */
.custom-select {
     /* Set the width to 100% or adjust as needed */
    padding: 10px; /* Add padding to make it look more like a dropdown */
    background-color: #f5f5f5; /* Background color */
    border: 1px solid #ccc; /* Border style */
    border-radius: 5px; /* Rounded corners */
    color: #333; /* Text color */
}

.custom-option {
    font-weight: normal; /* Remove the bold font weight for options */
}

/* Style for the selected (disabled) option */
.custom-select option:disabled {
    color: #888; /* Grayed-out color for the placeholder option */
}

/* Style for when the select box is open (active) */
.custom-select:focus {
    border-color: #007BFF; /* Highlight border color when active */
}
</style>
<style>
    /* CSS for the "View More" link with hard yellow color */
    .view-more-link {
        text-decoration: none; /* Remove the default underline */
        background-color: #FFFF00; /* Hard yellow background color */
        color: #333; /* Text color (you can adjust this color to your preference) */
        padding: 5px 10px; /* Padding around the link text */
        border-radius: 3px; /* Rounded corners */
        transition: background-color 0.2s, color 0.2s; /* Add a smooth transition effect */
    }
    
    .view-more-link:hover {
        background-color: #FFD700; /* Change background color on hover to a slightly darker yellow */
    }
    






   
    
    h2 {
        color: #333;
    }
    form {
        margin-top: 20px;
    }
    label {
        display: block;
        margin-bottom: 5px;
    }
    input[type="text"],
    input[type="number"],
    select {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }
    button[type="submit"] {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    button[type="submit"]:hover {
        background-color: #0056b3;
    }

    
        .error-message {
            color: red;
        }
    
    
</style>
</head>

<body>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon"></span>
                        <span class="title">DreamWed</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'myadmin:myadmin' %}">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                
                <li>
                    <a href="{% url 'myadmin:view_premium' %}">
                        <span class="icon">
                            <ion-icon name="star"></ion-icon>
                        </span>
                        <span class="title">View Premium Users</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'myadmin:aadharsus' %}">
                        <span class="icon">
                            <ion-icon name="document"></ion-icon>
                        </span>
                        <span class="title">Aadhar Details</span>
                    </a>
                </li>
                
                <li>
                    <a href="{% url 'myadmin:destadmin' %}">
                        <span class="icon">
                            <ion-icon name="heart"></ion-icon>
                        </span>
                        <span class="title">Destination Wedding</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'myadmin:change_password_admin' %}">
                        <span class="icon">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                        </span>
                        <span class="title">Password</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'accounts:logout' %}">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Sign Out</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- ========================= Main ==================== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>
                <div class="search">
                    <label>
                        <h1 style="font-size: 28px; margin-bottom: 5px; color: #0514f0; font-family: Arial, sans-serif;">DreamWed Admin Panel</h1>
                    </label>
                </div>
                <div class="user">
                    
                </div>
            </div>

            <!-- ======================= Cards ================== -->
            
            <!-- ================ Order Details List ================= -->
            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>Destination Wedding</h2>
                    </div>
                    
                    
                    <div class="cardHeader">
                        <h2>Add a Package</h2>
                    </div>
                    <form id="packageForm" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <label for="id_package_name">Package Name:</label>
                        {{ form.package_name }}
                        <span id="packageNameError" class="error-message"></span>
                        <label for="id_location">Location:</label>
                            {{ form.location }}
                            <span id="locationError" class="error-message"></span>
                       
                        <label for="id_days_count">Days Count:</label>
                        {{ form.days_count }}
                        <span id="daysCountError" class="error-message"></span>
                        <label for="id_program_count">Program Count:</label>
                        {{ form.program_count }}
                        <span id="programCountError" class="error-message"></span>
                        <label for="id_price">Price:</label>
                        {{ form.price }}
                        <span id="priceError" class="error-message"></span>
                        <label for="id_image">Image:</label>
                        {{ form.image }}
                        <span id="imageError" class="error-message"></span>
                        <label for="id_star_rating">Star Rating:</label>
                        <select id="id_star_rating" name="star_rating">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <label>Meal Preference:</label>
                        <label><input type="radio" name="meal_preference" value="veg" checked> Veg</label>
<label><input type="radio" name="meal_preference" value="non-veg"> Non-Veg</label>
<label><input type="radio" name="meal_preference" value="mixed"> Mixed</label>

                        <label for="id_attendees">Attendees:</label>
                        <select id="id_attendees" name="attendees">
                            <option value="25">25</option>
                            <option value="50">50</option>
                        </select>

                        
                            
                        
                        <button type="submit">Submit</button>
                    </form>
                    
                    <script>
                        const packageForm = document.getElementById('packageForm');
                        const locationInput = document.getElementById('id_location');
const locationError = document.getElementById('locationError');
                        const packageNameInput = document.getElementById('id_package_name');
                        const daysCountInput = document.getElementById('id_days_count');
                        const programCountInput = document.getElementById('id_program_count');
                        const priceInput = document.getElementById('id_price');
                    
                        packageNameInput.addEventListener('input', function() {
                            const value = this.value.trim();
                            const packageNameError = document.getElementById('packageNameError');
                            if (!/^[a-zA-Z\s]{4,30}$/.test(value)) {
                                packageNameError.textContent = "Package name must be alphabetic and between 4 and 30 characters long.";
                            } else {
                                packageNameError.textContent = "";
                            }
                        });
                        

                        locationInput.addEventListener('input', function() {
                            const value = this.value.trim();
                            
                            if (!/^[a-zA-Z\s]+$/.test(value)) {
                                locationError.textContent = "Location must contain alphabetic characters only.";
                            } else if (value.length < 4 || value.length > 30) {
                                locationError.textContent = "Location must be between 4 and 30 characters long.";
                            } else {
                                locationError.textContent = "";
                            }
                        });
                    
                        daysCountInput.addEventListener('input', function() {
                            const value = parseInt(this.value, 10);
                            const daysCountError = document.getElementById('daysCountError');
                            if (isNaN(value) || value <= 0 || value > 100) {
                                daysCountError.textContent = "Days count must be a positive number between 1 and 100.";
                            } else {
                                daysCountError.textContent = "";
                            }
                        });
                    
                        programCountInput.addEventListener('input', function() {
                            const value = parseInt(this.value, 10);
                            const programCountError = document.getElementById('programCountError');
                            if (isNaN(value) || value <= 0 || value > 100) {
                                programCountError.textContent = "Program count must be a positive number between 1 and 100.";
                            } else {
                                programCountError.textContent = "";
                            }
                        });
                    
                        priceInput.addEventListener('input', function() {
                            const value = parseFloat(this.value);
                            const priceError = document.getElementById('priceError');
                            if (isNaN(value) || value <= 0) {
                                priceError.textContent = "Price must be a positive number.";
                            } else {
                                priceError.textContent = "";
                            }
                        });
                    
                        packageForm.addEventListener('submit', function(event) {
                            const errorMessages = document.querySelectorAll('.error-message');
                            for (let errorMessage of errorMessages) {
                                if (errorMessage.textContent !== "") {
                                    event.preventDefault();
                                    return;
                                }
                            }
                        });
                    </script>
                    
                    <script>
                        function validateForm() {
                            var fileInput = document.getElementById('id_image');
                            var filePath = fileInput.value;
                            var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;
                            if (!allowedExtensions.exec(filePath)) {
                                document.getElementById('imageError').innerText = 'Please select a valid image file (JPEG, JPG, PNG, GIF)';
                                return false; // Prevent form submission
                            } else {
                                document.getElementById('imageError').innerText = ''; // Reset error message
                                return true; // Allow form submission
                            }
                        }
                        </script>
                        
                        
                </div>
            </div>
        </div>
        <!-- ================= New Customers ================ -->
    </div>

    

    <!-- =========== Scripts =========  -->
    <script src="{% static 'js/mainadmin.js' %}"></script>


    

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
